apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: deprecated-psp
spec:
  privileged: false
  seLinux:
    rule: RunAsAny
  runAsUser:
    rule: RunAsAny
  fsGroup:
    rule: RunAsAny
  volumes:
    - '*'