apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: deprecated-cronjob
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: hello
              image: busybox
              args:
                - /bin/sh
                - -c
                - date; echo Hello from Kubernetes
          restartPolicy: OnFailure